__pycache__/*
.gitignore
.flake.sh
.flake.sh~
mmw.pyc
mmw3.pyc
oldmmwtest.py
.pythonrc.py
.pythonrc.py~
dist_mmw3.py
getcher.py
logger.py
logger.pyc
old_mmw3.py
dist_mmw27.py
*__pycache__*
*.pyc
callgraph.py
graph.png
mmw/build/lib/*
mmw/dist/*
mmw/mmw.egg-info/*
mmwtest.py
